@media screen and (max-width: 500px) {
  body {
    height: 100vh;
    width: 100vh;
  }
  .container {
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-items: center;
    flex-direction: column;
  }
  .windows {
    border-radius: 10px 10px 0px 0px;
  }
  .linux {
    border-radius: 0px 0px 10px 10px;
  }
}
