@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100vh; */
}
.container {
  /* border: 2px solid black; */
  display: flex;
  border-radius: 11px 12px 12px 11px;
  width: 111vh;
  height: 69.8vh;
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 1); */
}
.windows {
  height: 463px;
  width: 245px;
  background-color: hsl(184, 100%, 22%);
  border-radius: 10px 0px 0px 10px;
}
.windows img {
  width: 55px;
  height: 45px;
  margin: 25px;
}

.macOS {
  height: 463px;
  width: 245px;
  background-color: hsl(179, 100%, 13%);
}
.macOS img {
  width: 55px;
  height: 45px;
  margin: 25px;
}
.linux {
  height: 463px;
  width: 246px;
  background-color: hsl(31, 77%, 52%);
  border-radius: 0px 10px 10px 0px;
}
.linux img {
  width: 55px;
  height: 45px;
  margin: 25px;
}

h2 {
  color: white;
  text-align: start;
  margin: 25px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
  font-size: 15px;
  margin: 25px;
}

button {
  margin-left: 25px;
  margin-top: 10px;
  height: 40px;
  width: 120px;
  border: hsl(0, 0%, 95%);
  border-radius: 40px;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}
.windows button {
  color: hsl(184, 100%, 22%);
}
.macOS button {
  color: hsl(179, 100%, 13%);
}
.linux button {
  color: hsl(31, 77%, 52%);
}
